{%extends "BlogBundle::layout.html.twig"%}
{% block title %}
    {%endblock%}
{%block content%}
    
    {% if app.user != null %}
  {#  {{dump(app.user)}} #}
    {% endif %}
    
    {%if is_granted('ROLE_USER')%}
        <strong>
            Estas logueado como usuario normal
        </strong>
    {%endif%}
    
    {%if is_granted('ROLE_ADMIN')%}
        <strong>
            Estas logueado como usuario administrador
        </strong>
    {%endif%}
        
    <h2>Entrar</h2>
    <div class="form-group">
    <div class="col-lg-6">
    <form action="{{path("login_check")}}" method="post">
        <label>Email:</label>
        <input type="email" id="username" name="_username" value="{{lastUsername}}" class="form-control"/>
        <br/>
        <label>Contraseña:</label>
        <input type="password" id="password" name="_password" class="form-control"/>
        <br/>
        <input type="submit" value="entrar" class="btn btn-success btn-block"/>
        <input type="hidden" name="_target_path" value="/login" /> 
    </form>
    </div>
    </div>
         <h2>Registrate</h2>
           <hr/>
            <div class="form-group">
                <div class="col-lg-6">
                    {% for message in app.session.flashBag().get('status') %}
                    <div class="alert-primary">{{ message }}</div> 
                    {% endfor %}
                    {{form_start(form,{'action':'','method':'POST'})}}
                    {{form_end(form)}}
                </div>
                </div>
        
        <div class="clear-fix"></div>
{%endblock%}
    
