{% extends "BlogBundle::layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
<h2>Editar Entradas: - {{entry.title}}</h2>

{{ form_start(form) }}
<label>Imagen: <img width="100" src="{{asset("uploads/"~entry.image)}}"/></label>
{{form_widget(form.image)}}
<label>Etiquetas: </label>
{{form_widget(form.tags,{"value":tags})}}
{{ form_end(form) }}
    </div>
<div class="clearfix"></div>
{% endblock %}
