{% extends "BlogBundle::layout.html.twig" %}

{% block menu %}
    {%include "BlogBundle:Category:menu.categories.html.twig" with {'categories':categories} %}
    {% endblock %}

{% block content %}
<h2>Entradas del Blog</h2>

{% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for entry in entries %}
    <div class="col-lg-11">
        <p class="pull-left" style="margin-right:20px;"><img width="100" src="{{asset("uploads/"~entry.image)}}"/></p>
        <p><strong>{{entry.title}}</strong></p>
        
        <p>{{entry.category.name}}
            {# Solo se pinta el botón de borrar si es del usuario dueño #}
            {%if (app.user.id is defined) and (entry.user.id==app.user.id) %}
            <a href="{{path("blog_delete_entry",{"id":entry.id})}}" class="btn btn-danger pull-right">Eliminar</a>
            <a href="{{path("blog_edit_entry",{"id":entry.id})}}" class="btn btn-warning pull-right">{%trans%}btn_edit{%endtrans%}</a>
            {% endif %}
        </p>
        <small>Autor: {{entry.user.name}}</small>
        <small>
            {% for en in entry.entryTag %}
            {{en.tag.name}}
            {% endfor%}
        </small>
         <div class="clearfix"></div>
      <hr/>
    </div>
    <div class="clearfix"></div>
{% endfor %}
<nav aria-label="Page navigation example">
<ul class="pagination  justify-content-center" style="color:white;">
    <li class="page-item btn btn-outline-info">
    
        <a href="{{path("blog_homepage",{"page":page})}}" >&laquo</a>
        
    </li>
    {%for i in 1..pageCount%}
    <li class="page-item btn btn-outline-info"><a href="{{path('blog_homepage',{"page":i})}}">{{i}}</a></li>
    {% endfor%}
    
    
    {%if(page_m==pageCount|length)%}
    
    {%else%}
        {% set page = page+1%}
    {%endif%}
    
    <li class="page-item btn btn-outline-info">
        <a href="{{path("blog_homepage",{"page":page_m})}}">&raquo</a>
    </li>
    {{pageCount}}
</ul>
</nav>

{% endblock %}