{# empty Twig template #}
{%if (status!=null) and (data != null)%}
    <h3>{{status}}</h3>
    {{dump(data)}}
{%endif%}
<h2>Formulario Symfony 3</h2>
{{form_start(form,{'action':'','method':'POST'})}}
<label>
    Campo título:
{{form_errors(form.titulo)}}
{{form_widget(form.titulo)}}
</label>
{{form_end(form)}}
