{# comentarios de código
app/Resources/views/default/layout.html.twig
#}
{% extends 'default/layout.html.twig'%}
{% block container %}
    {{parent()}}
    {{'<br/>'}}
    {{texto}}
   <hr/>
{{fruta.pera}}
{%if fruta.pera starts with 'm'%}
    {{fruta.manzana}}
    {%endif%}
 {{'<hr/>'}}
{% set variable = "Hola Twig"%}
{{variable}}
 {{'<hr/>'}}
 {%if productos|length > 0%}
{# <ul>
 {%for producto in productos%}
      {%for i in producto%}
     <li>{{i.producto}} - {{i.precio}}</li>
     {%endfor%}
     {%endfor%}
 </ul>#}
 {%endif%}
 <hr/>
 {% set fecha = date('-2 days','Europe/Madrid')%}
 {% set maryna ='     cada día te quiero más chiqui,'%}
 {{fecha.date|date("d-m-Y")}}
 <hr/>
 {{maryna|reverse}}
 <hr/>
 {%include('AppBundle:pruebas:partial.html.twig')%}
 {{max([76,99,58])}}
 <hr/>
 {{random(['Elena','Maryna','Julieta','Verónica'])}}
 <hr/>
 {%for i in range(0,25,3)%}
     {{i}}<br/>
     {%endfor%}
     <hr/>
     {{generateTable(2,5,productos)|raw}}
     <hr/>
     {{'cadena de texto'|addText}}
{%endblock%}
