<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}LAYOUT{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/framework/css/estilo.css')}}"/>
    </head>
    <body>
        <div class="container">
        {% block container %}
            contenido por defecto
        {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
