<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>
            {%block title %} Blog con Symfony 3 {%endblock%} 
        </title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
             <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" >
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         </head>
        <body>
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/web/home">Blog Symfony 3</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% block menu %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{path("blog_add_tag")}}">Add tags<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("blog_index_tag") }}">List tags</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("blog_add_category") }}">Add categorías</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("blog_index_category") }}">List categorías</a>
                            </li>
                                 <li class="nav-item">
                                <a class="nav-link" href="{{ path("blog_add_entry") }}">Add entries</a>
                            </li>
                            {%endblock%}
                           </ul>
                           <ul class="navbar-nav mr-auto">
                               {%if app.user != null%}
                           <li class="nav-item">
                                
                                    Bienvenido, {{app.user.name}} {{app.user.surname}}
                                 
                            </li>
                            {%endif%}
                           </ul>
                       </div>
                           
                    <div class="btn-group dropleft">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i  class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{path("blog_add_tag")}}">Etiquetas</a>
                      <a class="nav-link" href="{{ path("blog_add_category") }}">Categorías</a>
                      <a class="nav-link" href="{{ path("blog_add_entry") }}">Entradas</a>
                      <hr/>
                      <a class="dropdown-item" href="#">Ayuda</a>
                      {%if app.user == null%}
                      <a class="dropdown-item" href="{{path("login")}}">Login</a>
                      {%else%}
                      <a class="dropdown-item" href="{{path("logout")}}">Salir</a>
                      {%endif%}
                     </div>
                  </div>
                </nav>
            </header>
            <section id="content">
                {%block content %} Content default {%endblock%}
            </section>
            <footer>
                Curso de Symfony &copy;
            </footer>
        </body>
    </html>
