{% extends "BlogBundle::layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
<h2>Listado de Tags</h2>
{% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
<hr/>
<a href="{{ path("blog_add_tag") }}" class="btn btn-primary">Añadir etiqueta</a>
<hr/>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Eliminar</th>
        </tr>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.description }}</td>
                {% if tag.entryTag|length==0%}
                <td><a href="{{ path("blog_delete_tag",{"id":tag.id}) }}" class="btn btn-danger">Borrar</a></td>
                {% else %}
                 <td><button class="btn btn-warning">En uso</button></td>   
                {% endif %}
            </tr>
        {% endfor %}
    </table>
 <div class="clear-fix"></div>
    {% endblock  %}
   
