{% extends "BlogBundle::layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
<h2>Listado de Categorías</h2>
{% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
<hr/>
<a href="{{ path("blog_add_category") }}" class="btn btn-primary">Añadir categoría</a>
<hr/>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                {% if category.entries|length==0%}
                <td><a href="{{ path("blog_edit_category",{"id":category.id}) }}" class="btn btn-primary">Editar</a></td>
                <td><a href="{{ path("blog_delete_category",{"id":category.id}) }}" class="btn btn-danger">Borrar</a></td>
                {% else %}
                <td><a href="{{ path("blog_edit_category",{"id":category.id}) }}" class="btn btn-primary">{%trans%}btn_edit{%endtrans%}</a></td>
                <td><button class="btn btn-warning">En uso</button></td>   
                {% endif %}
            </tr>
        {% endfor %}
    </table>
 <div class="clear-fix"></div>
    {% endblock  %}
   
